.active {
  background: #d9f8eb;
  color: #00894f;
  border-radius: 16px;
  padding: 2px 12px 2px 12px;
  font-size: smaller;
}
.deActive {
  color: #ac5a2b;
  background: #fde6d8;
  border-radius: 16px;
  padding: 2px 12px 2px 12px;
  font-size: smaller;
}
