.header {
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .title-header {
    display: flex;
    padding: 12px;
    .title-label {
      margin-inline-end: 32px;
      margin-inline-start: 12px;
      font-size: 14px;
      color: #212121;
    }

    .back-icon {
      margin-inline-end: auto;
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  .container-tab {
    .tab {
      display: flex;
      overflow: hidden;
      background-color: #f1f1f1;
      .tablinks {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.3s;
        font-size: 13px;
        color: #6c757d;
        border-bottom: 2px solid #f1f1f1;
        &:hover {
          background-color: #ddd;
        }
      }
      .active {
        color: #393939;
        border-bottom: 2px solid #5d9cec;
      }
    }
  }
  .line {
    height: 2px;
    background-color: #9595955b;
  }
}
