<div class="p-4 h-screen/90 overflow-y-auto">
  <core-page-title
    class="col-span-1 block"
    [title]="labels.titleCardTitle"
    [description]="labels.titleCardDescription"
  ></core-page-title>
  <core-card class="block col-span-1 justify-between mt-4">
    <div class="flex justify-between p-3">
      <div class="flex">
        <b class="text-primary-text-color text-xl me-4">
          {{ labels.contentCardTitle }}
        </b>
        <core-search-box
          [placeholder]="labels.search"
          (onChange)="searchText = $event; searchTextInTable()"
        ></core-search-box>
      </div>

      <div class="">
        <core-btn
          class="col-span-1"
          [colorState]="'success'"
          (btnClicked)="openFormModal()"
        >
          <div class="flex">
            <add-icon class="h-5 w-5 fill-success-button-color"> </add-icon>
            {{ labels.addButtonName }}
          </div>
        </core-btn>
      </div>
    </div>
    <div class="col-span-1">
      <core-spinner
        *ngIf="loading"
        class="w-full px-3 block"
        type="line"
      ></core-spinner>
      <core-table
        [columnsSchema]="columnsSchema"
        [tableData]="tableData"
        [loading]="loading"
        (onColumnClicked)="onColumnClicked($event)"
      ></core-table>
    </div>
  </core-card>
</div>
