.content {
  display: flex;
  margin-inline: 12px;
  margin-block-start: 12px;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 8;
  padding-block: 20px;
  .double-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    .content-item {
      display: flex;
      min-width: 285px;
      flex: 1;
      padding: 6px 6px 6px 6px;
      border-radius: 8px;
      margin-inline: 4px;
      .row-item {
        width: 50%;
        display: flex;
        align-items: center;
        .title {
          font-size: 13px;
          color: #6c757d;
          font-weight: 500;
          width: 100px;
        }
        .value {
          font-size: 13px;
          font-weight: 500;
          color: inherit;
        }
      }
    }
    .background-item-gray {
      background: #e6e6e657;
    }
  }
}
