.row {
  display: flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  background: #80808026;
  padding-inline: 4px;
  border-radius: 6px;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4px;
  border-radius: 6px;
}

.img-iran {
  height: 28px;
  border-left: 2px solid #33333375;
}
