<div class="grid">
  <core-card class="m-5">
    <core-spinner
      *ngIf="loading"
      class="w-full px-3 block"
      type="line"
    ></core-spinner>
    <div class="flex flex-col justify-center items-center px-6 pt-5 min-h-36">
      <span class="mb-3 text-lg font-bold">{{ labels.headerTitle }}</span>
      <div class="flex gap-4 items-baseline">
        <span class="mt-2">{{ labels.manifestId }}</span>

        <core-input type="number" (onChange)="code = $event"></core-input>
        <div class="w-24">
          <core-btn
            class=""
            [isDisabled]="code.toString().length === 0"
            [theme]="'square'"
            [size]="'medium'"
            [colorState]="'primary'"
            (click)="onSubmit()"
            >{{ labels.submit }}</core-btn
          >
        </div>
      </div>
    </div>
    <div class="col-span-1" *ngIf="manifest">
      <div class="content">
        <div class="double-item">
          <div class="content-item">
            <div class="row-item">
              <span class="title">{{ labels.manifestId }}</span>
              <span class="value">{{
                manifest.manifestId | persianDigits
              }}</span>
            </div>
            <div class="row-item">
              <span class="title">{{ labels.manifestDateTime }}</span>
              <span class="value"
                ><span dir="ltr">{{
                  manifest.manifestDateTime
                    | shamsiDate : "jYYYY/jMM/jDD HH:mm"
                    | persianDigits
                }}</span></span
              >
            </div>
          </div>
          <div class="content-item background-item-gray">
            <div class="row-item">
              <span class="title">{{ labels.originCity }}</span>
              <span class="value">{{ manifest.originCity?.cityNameFa }}</span>
            </div>
            <div class="row-item">
              <span class="title">{{ labels.destinationCity }} </span>
              <span class="value">{{
                manifest.destinationCity?.cityNameFa
              }}</span>
            </div>
          </div>
        </div>
        <div class="double-item">
          <div class="content-item">
            <div class="row-item">
              <span class="title">{{ labels.originOffice }}</span>
              <span class="value">{{ manifest.originOffice?.officeName }}</span>
            </div>
            <div class="row-item">
              <span class="title"> {{ labels.destinationOffice }}</span>
              <span class="value">{{
                manifest.destinationOffice?.officeName
              }}</span>
            </div>
          </div>
          <div class="content-item background-item-gray">
            <div class="row-item">
              <span class="title">{{ labels.serviceCode }} </span>
              <span
                class="value"
                detailViewerManager
                [detailViewerName]="detailViewers.SERVICE"
                [detailViewerData]="manifest.service?.serviceId"
                >{{ manifest.service?.serviceId | persianDigits }}</span
              >
            </div>
            <div class="row-item">
              <span class="title">{{ labels.issuerUserCode }} </span>
              <span class="value">{{ manifest.issuerUserCode }}</span>
            </div>
          </div>
        </div>
        <div class="double-item">
          <core-table
            [columnsSchema]="columnsSchema"
            [tableData]="tableData"
            [loading]="loading"
          ></core-table>
        </div>
      </div>
    </div>
  </core-card>
</div>
