.root {
  background: white;
  border-radius: 6px;
  margin-block-end: 15px;
  border: 3px solid #9a989873;
}
.header {
  direction: rtl;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard Syntax */
  .title-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    .title-label {
      margin-inline-end: 32px;
      margin-inline-start: 12px;
      font-size: 14px;
      color: #212121;
    }

    .arrow-icon {
      margin-inline-end: auto;
      .caret-rotate {
        transform: rotate(180deg);
      }
    }
  }
}

.body-css-class {
  padding: 10px;
  .line {
    height: 2px;
    background-color: #9595955b;
    margin: -10px -10px -10px;
  }
}
