<container-element [ngSwitch]="column.type">
  <ng-content></ng-content>
  <app-core-table-row-selector-column
    *ngSwitchCase="columnsTypes.ROW_SELECTOR"
    [rowSelector]="rowSelector"
    [data]="data"
    [column]="column"
  ></app-core-table-row-selector-column>
  <app-core-table-status-active-column
    *ngSwitchCase="columnsTypes.STATUS_ACTIVE"
    [data]="data"
    [column]="column"
  ></app-core-table-status-active-column>
  <app-core-table-status-column
    *ngSwitchCase="columnsTypes.STATUS"
    [data]="data"
    [column]="column"
  ></app-core-table-status-column>
  <app-core-table-action-column
    *ngSwitchCase="columnsTypes.ACTION"
    [data]="data"
    [column]="column"
  ></app-core-table-action-column>
  <app-core-table-action-buttons-column
    *ngSwitchCase="columnsTypes.ACTION_BUTTONS"
    (onClick)="clicked($event)"
    [data]="data"
    [column]="column"
  ></app-core-table-action-buttons-column>
  <app-core-table-shamsi-date
    *ngSwitchCase="columnsTypes.SHAMSI_DATE"
    [data]="data"
    [column]="column"
  >
  </app-core-table-shamsi-date>
  <app-core-row-pelak
    *ngSwitchCase="columnsTypes.PELAK"
    [data]="data"
    [column]="column"
  ></app-core-row-pelak>
  <core-table-detail-viewer-for-report
    *ngSwitchCase="columnsTypes.DETAIL_VIEWER_FOR_REPORT"
    [data]="data"
    [column]="column"
  ></core-table-detail-viewer-for-report>
  <span
    *ngSwitchCase="columnsTypes.TEXT"
    [ngClass]="{ 'cursor-pointer': column.copyToClipboard }"
    (click)="onTextColumnClicked(column, data[column.key])"
    tableDetailViewerManager
    [detailViewerData]="
      combinedData(column.detailViewer, data[column.detailViewer?.key])
    "
  >
    {{ data[column.key] | persianDigits }}
  </span>

  <span
    *ngSwitchCase="columnsTypes.NUMBER"
    [ngClass]="{
      'cursor-pointer': column.copyToClipboard,
      green: data[column.key] > 0 && column.canColorfulNumber,
      red: data[column.key] < 0 && column.canColorfulNumber
    }"
    (click)="onTextColumnClicked(column, data[column.key])"
    tableDetailViewerManager
    dir="ltr"
    [detailViewerData]="
      combinedData(column.detailViewer, data[column.detailViewer?.key])
    "
    ><app-core-number
      [number]="data[column.key]"
      [type]="'number'"
      [canSplitNumbers]="true"
      [canShowWordInToolTip]="true"
    >
    </app-core-number>
  </span>

  <span *ngSwitchCase="columnsTypes.SELECTOR">
    <span
      *ngIf="data[column.key.split('.')[0]]"
      tableDetailViewerManager
      [detailViewerData]="
        combinedData(
          column.detailViewer,
          getSelectorData(
            data[column.key.split('.')[0]],
            column.detailViewer?.key
          )
        )
      "
      >{{
        getSelectorData(data[column.key.split(".")[0]], column.data.key)
          | persianDigits
      }}</span
    >
  </span>
</container-element>
