:root {
  --default-button-color: #4d5969;
  --default-button-background-color: #e6e6e6;
  --primary-button-color: #2c7be5;
  --primary-button-background-color: #d5e5fa;
  --success-button-color: #00ae65;
  --success-button-background-color: #ccf6e4;
  --warning-button-color: #f5803e;
  --warning-button-background-color: #fde6d8;
  --danger-button-color: #e63757;
  --danger-button-background-color: #fad7dd;
}
