.root {
  width: 100%;
  height: 100vh;
  z-index: 49;
  position: fixed;
  left: 0px;
  top: 0;
  background-color: #4f688370;
}
.panel {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #e3e8f1;
}
